// 프로젝트 메인 컬러
// $color-main1: #a2d2ff;
// $color-main2: #ffc8dd;
// $color-main3: #ffafcc;
// $color-main4: #bde0fe;
// $color-main5: #a2d2ff;

:root {
  --color-main1: #a2d2ff;
  --color-main2: #ffc8dd;
  --color-main3: #ffafcc;
  --color-main4: #bde0fe;
  --color-main5: #a2d2ff;
}
